@import "variables";

$primary: $primary-red-color;

// Variables
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Component syles
@import "react-star-rating";
@import "react-select";
@import "react-bootstrap-slider";
@import "react-date-picker";

@import "react-draft";

// Form builder styles
@import "form-builder";
@import "form-builder-form";
@import "react-dropzone";

.react-form-builder {

  h4, .h4 {
    font-size: 1.3rem;
  }

  .modal {
    ul{
      list-style: none;
      padding: 0px;
      margin: 0px;
    }
    padding-bottom: 50px;
    display: block;
    background: rgba(0, 0, 0, 0.3);
  }

  .modal-dialog {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    min-width: 600px !important;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 20px;
    min-height: 20%;
    max-height: 800px;
    overflow-y: auto;
    min-width: 600px;
  }

  .modal-footer {
    padding-bottom: 0px;
  }

  .badge {
    font-weight: 500;
  }

  .btn-primary {
    position: relative;
    color: "#e75480";
    font-weight: 500;
    font-size: 15px;
    background-image: linear-gradient(
      to right,
      $btn-primary-color,
      $btn-secondary-color,
      $btn-secondary-color,
      $btn-primary-color
    );
    border-radius: 5px;
    cursor: pointer;
    text-align: "center";
    border: 0px !important;
    padding-right: 16px;
    padding-left: 16px;
    background-size: 300% 100%;
    &.loading{
    cursor: default;

    }
  }

  .btn-primary:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
  }

  .btn:focus,
  .btn-primary:focus {
    box-shadow: none;
  }

  .btn-primary:not(:disabled):not(.disabled).active:focus,
  .btn-primary:not(:disabled):not(.disabled):active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
  }

  button.btn-default {
    color: $primary-red-color;
    padding-right: 16px;
    padding-left: 16px;
    font-weight: 500;
    font-size: 15px;
    border-color: $primary-red-color;

    &:hover {
      background-color: $primary-red-color;
      color: #FFF;
    }
  }

  button.btn:not(.btn-primary):not(.btn-action-pill):not(.btn-default):hover {
    color: $primary-red-color;
  }

  // .custom-control-input:checked~.custom-control-label::before{
  //   border-color: $primary-red-color;
  //   background-color: $primary-red-color;
  // }
  .form-control {
    font-size: 15px;
  }

  .btn-action-pill {
    border: 2px solid $grey-color;
    border-radius: 20px;
    padding-right: 16px;
    padding-left: 16px;
    font-weight: 500;
    font-size: 15px;
    color: $grey-color;
    &:hover {
      color: $grey-color;
    }
  }
  .bottom-action-container {
    padding: 10px 0px;
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 20px;
    }
  }
.spinner-border{
  position: absolute;
  width:1.5rem;
  height: 1.5rem;
  left: 30%;
  top: 15%;
}
}
.grey-color{
  color:$grey-color
}