$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$grey-color:#acb1c0;
$primary-red-color:#2188e5;
$grey-icon-color:#a5a5a5;
$btn-primary-color:#2188e5;
$btn-secondary-color:#45d0e4;
$required-color:#a4262c;


