@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?lcekyv');
  src:  url('./fonts/icomoon.eot?lcekyv#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?lcekyv') format('truetype'),
    url('./fonts/icomoon.woff?lcekyv') format('woff'),
    url('./fonts/icomoon.svg?lcekyv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cicon-"], [class*=" cicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cicon-link:before {
  content: "\e983";
}
.cicon-excel .path1:before {
  content: "\e955";
  color: rgb(236, 239, 241);
}
.cicon-excel .path2:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(56, 142, 60);
}
.cicon-excel .path3:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(56, 142, 60);
}
.cicon-excel .path4:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(56, 142, 60);
}
.cicon-excel .path5:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(56, 142, 60);
}
.cicon-excel .path6:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(56, 142, 60);
}
.cicon-excel .path7:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(56, 142, 60);
}
.cicon-excel .path8:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(56, 142, 60);
}
.cicon-excel .path9:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(56, 142, 60);
}
.cicon-excel .path10:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(46, 125, 50);
}
.cicon-excel .path11:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(250, 250, 250);
}
.cicon-txt .path1:before {
  content: "\e960";
  color: rgb(226, 229, 231);
}
.cicon-txt .path2:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(176, 183, 189);
}
.cicon-txt .path3:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(202, 209, 216);
}
.cicon-txt .path4:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(87, 109, 126);
}
.cicon-txt .path5:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cicon-txt .path6:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cicon-txt .path7:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cicon-txt .path8:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(202, 209, 216);
}
.cicon-word .path1:before {
  content: "\e968";
  color: rgb(21, 101, 192);
}
.cicon-word .path2:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(21, 101, 192);
}
.cicon-word .path3:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(250, 250, 250);
}
.cicon-word .path4:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(21, 101, 192);
}
.cicon-word .path5:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(21, 101, 192);
}
.cicon-word .path6:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(21, 101, 192);
}
.cicon-word .path7:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(21, 101, 192);
}
.cicon-word .path8:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(21, 101, 192);
}
.cicon-ppt .path1:before {
  content: "\e970";
  color: rgb(255, 220, 105);
}
.cicon-ppt .path2:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(255, 140, 90);
}
.cicon-ppt .path3:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(254, 236, 159);
}
.cicon-ppt .path4:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cicon-ppt .path5:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(255, 184, 85);
}
.cicon-ppt .path6:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cicon-ppt .path7:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cicon-ppt .path8:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cicon-ppt .path9:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cicon-pdf .path1:before {
  content: "\e979";
  color: rgb(235, 240, 243);
}
.cicon-pdf .path2:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(213, 214, 219);
}
.cicon-pdf .path3:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(229, 99, 83);
}
.cicon-facebook .path1:before {
  content: "\e97c";
  color: rgb(59, 89, 153);
}
.cicon-facebook .path2:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cicon-pinterest .path1:before {
  content: "\e97e";
  color: rgb(203, 32, 39);
}
.cicon-pinterest .path2:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(241, 242, 242);
}
.cicon-twitter:before {
  content: "\e980";
  color: #03a9f4;
}
.cicon-youtube .path1:before {
  content: "\e981";
  color: rgb(255, 0, 0);
}
.cicon-youtube .path2:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cicon-toggle-off:before {
  content: "\e907";
}
.cicon-toggle-on:before {
  content: "\e90f";
}
.cicon-video-1:before {
  content: "\e910";
}
.cicon-video-2:before {
  content: "\e911";
}
.cicon-refresh:before {
  content: "\e913";
}
.cicon-sms:before {
  content: "\e914";
}
.cicon-sort:before {
  content: "\e915";
}
.cicon-tag:before {
  content: "\e917";
}
.cicon-text:before {
  content: "\e91a";
}
.cicon-time:before {
  content: "\e91d";
}
.cicon-to-do:before {
  content: "\e91f";
}
.cicon-training-courses:before {
  content: "\e920";
}
.cicon-user:before {
  content: "\e922";
}
.cicon-videos:before {
  content: "\e924";
}
.cicon-Introduction:before {
  content: "\e92d";
}
.cicon-knowledge-base:before {
  content: "\e92e";
}
.cicon-location:before {
  content: "\e92f";
}
.cicon-Number-input:before {
  content: "\e930";
}
.cicon-organizations:before {
  content: "\e931";
}
.cicon-organogram:before {
  content: "\e933";
}
.cicon-people:before {
  content: "\e93c";
}
.cicon-phone:before {
  content: "\e93d";
}
.cicon-radio:before {
  content: "\e93e";
}
.cicon-image-filled:before {
  content: "\e940";
}
.cicon-hiring-referral:before {
  content: "\e941";
}
.cicon-groups:before {
  content: "\e942";
}
.cicon-globe:before {
  content: "\e943";
}
.cicon-forward-message:before {
  content: "\e944";
}
.cicon-forms:before {
  content: "\e945";
}
.cicon-email:before {
  content: "\e946";
}
.cicon-edit:before {
  content: "\e947";
}
.cicon-doc:before {
  content: "\e948";
}
.cicon-delete-filled:before {
  content: "\e949";
}
.cicon-copy:before {
  content: "\e94a";
}
.cicon-company-profile:before {
  content: "\e94b";
}
.cicon-checkbox:before {
  content: "\e94c";
}
.cicon-check-all:before {
  content: "\e94d";
}
.cicon-action:before {
  content: "\e94e";
}
.cicon-users:before {
  content: "\e94f";
}
.cicon-expand:before {
  content: "\e950";
}
.cicon-to-and-from:before {
  content: "\e951";
}
.cicon-collapse:before {
  content: "\e952";
}
.cicon-collapse-filled:before {
  content: "\e953";
}
.cicon-check-list:before {
  content: "\e954";
}
.cicon-add:before {
  content: "\e900";
}
.cicon-attachment:before {
  content: "\e901";
}
.cicon-bell-with-notification:before {
  content: "\e902";
}
.cicon-bell-without-notification:before {
  content: "\e903";
}
.cicon-camera-dp:before {
  content: "\e904";
}
.cicon-camera-post:before {
  content: "\e905";
}
.cicon-chat:before {
  content: "\e906";
}
.cicon-check-mark:before {
  content: "\e908";
}
.cicon-checkbox-unchecked1:before {
  content: "\e909";
}
.cicon-checkbox-unchecked2:before {
  content: "\e90a";
}
.cicon-checkbox-checked:before {
  content: "\e90b";
}
.cicon-radio-checked:before {
  content: "\e90c";
}
.cicon-tick-mark:before {
  content: "\e90d";
}
.cicon-close:before {
  content: "\e90e";
}
.cicon-comment:before {
  content: "\e912";
}
.cicon-delete:before {
  content: "\e916";
}
.cicon-edit-underlined:before {
  content: "\e918";
}
.cicon-edit-outlined:before {
  content: "\e919";
}
.cicon-star:before {
  content: "\e91b";
}
.cicon-events:before {
  content: "\e91c";
}
.cicon-exit:before {
  content: "\e91e";
}
.cicon-file:before {
  content: "\e921";
}
.cicon-image:before {
  content: "\e923";
}
.cicon-location-pin:before {
  content: "\e925";
}
.cicon-lock:before {
  content: "\e926";
}
.cicon-bosss-logo:before {
  content: "\e927";
}
.cicon-logo:before {
  content: "\e928";
}
.cicon-menu:before {
  content: "\e929";
}
.cicon-navigate:before {
  content: "\e92a";
}
.cicon-onboarding:before {
  content: "\e92b";
}
.cicon-overview:before {
  content: "\e92c";
}
.cicon-play:before {
  content: "\e932";
}
.cicon-quiz:before {
  content: "\e934";
}
.cicon-radio-selected:before {
  content: "\e935";
}
.cicon-radio-unchecked:before {
  content: "\e936";
}
.cicon-search:before {
  content: "\e937";
}
.cicon-send:before {
  content: "\e938";
}
.cicon-settings:before {
  content: "\e939";
}
.cicon-stream:before {
  content: "\e93a";
}
.cicon-sync:before {
  content: "\e93b";
}
.cicon-video:before {
  content: "\e93f";
}
